{% extends'base.html.twig' %}
{% form_theme bookingForm 'bootstrap_4_layout.html.twig' %}

<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<title>BIENVENUE à la Billeterie du Louvre </title>
<!-- Stylesheets -->
<link href="css/bootstrap.css" rel="stylesheet">
<link href="css/revolution-slider.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">

<!--Favicon-->
<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
<link rel="icon" href="images/favicon.ico" type="image/x-icon">
<!-- Responsive -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
<link href="css/responsive.css" rel="stylesheet">
<script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.js"></script>
<script src="js/respond.js"></script>
</head>


{% block body %}
   
<body>
<div class="page-wrapper">

    <!-- Preloader -->
    <div class="preloader"></div>
	
   	<!-- Main Header-->
    <header class="main-header">
		
   		
   	
    	<!--Header-Upper-->
        <div class="header-upper">
        	<div class="auto-container">
            	<div class="clearfix">

                	<!--<div class="pull-left logo-outer">
                    	<div class="logo"><a href="index.html"><img src="images/logo.png" alt="" title="Bristol"></a></div>
                    </div>-->

                    <div class="pull-right upper-right clearfix">

                        <!--Info Box-->
                        <div class="upper-column info-box">
                        	<div class="icon-box"><span class="flaticon-clock-2"></span></div>
                            Horaires du musée
                            <div class="light-text">    
                                Ouvert tous les jours de 9h à 18h </br>
                                
                                Fermetures :
                                Les 1er janvier, 1er mai et 25 décembre 2019
                             </div>
                        </div>

                        <!--Info Box-->
                        <div class="upper-column info-box">
                        	<div class="icon-box"><span class="flaticon-technology-1"></span></div>
                            Contact
                            <div class="light-text">01 30 21 01 54 87</div> 
                        </div>

                        <!--Info Box-->
                        <div class="upper-column info-box">
                        	<div class="icon-box"><span class="flaticon-envelope-3"></span></div>
                            Adresse 
                            <div class="light-text">  Musée du Louvre, 75008 Paris - France   </div>
                        </div>

					</div>

                </div>
            </div>
        </div>

        <!--Header-Lower-->
        <div class="header-lower">

        	<div class="auto-container">
            	<div class="nav-outer clearfix">
                    <!-- Main Menu -->
                    <nav class="main-menu">
                        <div class="navbar-header">
                            <!-- Toggle Button -->
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                                <span class="icon-bar"></span>
                            </button>
                        </div> 

                       <!---- <div class="navbar-collapse collapse clearfix">
                            

                	<!--<div class="outer-btn"><a href="contact.html" class="theme-btn consultation">BILLETERIE</a></div>
                	
           

		<!--Sticky Header-->
        <div class="sticky-header">
        	<div class="auto-container clearfix">
            	

                <!--Right Col-->
                <div class="right-col pull-right">
                	<!-- Main Menu -->
                    <nav class="main-menu">
                        <div class="navbar-header">
                            <!-- Toggle Button -->
                            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
								<span class="icon-bar"></span>
                            </button>
                        </div>

                       
                </div>

            </div>
        </div>
        <!--End Sticky Header-->

    </header>
    <!--End Main Header -->
   
    <!--Page Title-->
    <section class="page-title" "background-image:url"{{ asset('images/background/2.jpg' ) }}"">
    	<div class="auto-container">
        	<div class="inner-box">
                <h1>BIENVENUE A LA BILLETERIE DU MUSEE LOUVRE </h1>
                <div class="bread-crumb"><a href="http://localhost:8000/add">cliquez ici<a class="current"></a> &nbsp; </a> <a class="current"></a></div>
            </div>
        </div>
    </section>
	<!--End Page Title-->
	
   	<!--Welcome Section-->
   	<section class="welcome-section">
    	<div class="auto-container">
        	<div class="row clearfix">
            
            	<!--Content Column / Fact Counter Two-->
            	<div class="content-column col-md-6 col-sm-12 col-xs-12">
                	<div class="inner-box">
                    	<h3>Histoire du louvre </h3>
                        <div class="text"> Visiter le Louvre permet de découvrir, au travers des collections, 
                            l’art occidental du Moyen Âge à 1848 et de nombreuses civilisations antiques, mais invite aussi 
                            à une autre histoire. Le grand palais qui accueille le musée et dont l’origine remonte à la fin du 12e siècle 
                            est une véritable leçon d’architecture : de 1200 à 2011, les architectes les plus novateurs se sont succédé pour 
                            bâtir et amplifier le Louvre. Longtemps siège du pouvoir, cette demeure royale qui hébergea également les chefs d’État français jusqu’en 1870 
                            est aussi l’un des grands théâtres où s’est jouée l’histoire de Paris et celle de la France.
                            
                        </div>
                        
                        <!--Fact Counter Two-->
                        <div class="fact-counter">
                        	<div class="clearfix">
                        
                                
                        
                                <!--Column-->
                                <div class="inner-column counter-column wow fadeIn">
                                    <div class="inner">
                                    	

                                        
                                    </div>
                                </div>
                        
                            </div>
            			</div>
                        
                    </div>
                </div>
                <!--Video Column-->
                <div class="column col-md-6 col-sm-12 col-xs-12">
                	<div class="video-box">
                    	<figure class="image">
                        	<img src="{{asset('images/resource/video-image1.jpg) }}" alt="">
                        </figure>
                        <a href="https://www.youtube.com/watch?v=V9vw2TGc06Q" class="lightbox-image overlay-box">
                        	<span class="flaticon-arrows-2"></span>
                        </a>
                    </div>
                </div>
                
            </div>
        </div>
    </section>
       <!--End Welcome Section-->
       

	
    <!--Featured Section-->
    <section class="featured-section">
    	<div class="auto-container">
        	<div class="row clearfix">
            
            	<!--Featured Post-->
            	<div class="featured-post col-md-4 col-sm-6 col-xs-12">
 
                	<div class="inner-box">
                    	<div class="number-box wow fadeInUp" data-wow-delay="0ms" data-wow-duration="1500ms"> </div>
                        <h3><a href="services-single.html">Tarif normal </a></h3>
                        <div class="text">à partir de 12 ans : 16 euros</div> </br>

                        <h3><a href="services-single.html">Tarif enfant</a></h3>
                        <div class="text">à partir de 4 ans jusqu'à 12 ans : 8 euros</div>
                        <div class="text">Gratuit pour les moins de 4ans</div>
                         
                       <!---- <a class="read-more" href="services-single.html">Read More <span class="icon flaticon-right-arrow"></span></a>-->
                    </div>
                </div>

                
                <!--End Featured Post-->
                
                <!--Featured Post-->
            	<div class="featured-post col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="number-box wow fadeInUp" data-wow-delay="300ms" data-wow-duration="1500ms"></div>
                        <h3><a href="services-single.html">Tarif Senior</a></h3>
                        <div class="text">à partir de 60 ans : 12 euros</div>
                        <!--<a class="read-more" href="services-single.html">Read More <span class="icon flaticon-right-arrow"></span></a>-->
                    </div>
                </div>
                <!--End Featured Post-->

                
                
                <!--Featured Post-->
            	<div class="featured-post col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<div class="number-box wow fadeInUp" data-wow-delay="600ms" data-wow-duration="1500ms"></div>
                        <h3><a href="services-single.html">Tarif réduit </a></h3>
                        <div class="text">10 euros accordé sous certaines Condition (étudiant, employé du musée, militaire...</div>
                        <!--<a  class="read-more" href="services-single.html">Read More <span class="icon flaticon-right-arrow"></span></a>-->
                    </div>
                </div>
                <!--End Featured Post-->
                
            </div>
        </div>
    </section>
    <!--End Featured Section-->
    
    <!--Guards Section-->
    <!---<section class="guard-section">
    	<div class="auto-container">
        	<!--Sec Title-->
            <!--<div class="sec-title">
            	<h2>OUR GUARDS</h2>
                <div class="text">The Love Boat promises something for everyone now to beat every of just one</div>
            </div>
            <!--Sec Title-->
            
           <!---- <div class="row clearfix">
            
            	<!--Guard Member-->
            	<!--<div class="guard-member col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<!--Image Box-->
                    	<!--<div class="image-box">
                        	<img src="images/resource/guard-1.jpg" alt="" />
                        </div>
                        <!--Lower Content-->
                        <!--<div class="lower-content">
                        	
                        	<!--Content-->
                        	<!--<div class="content">
                                <h3>NATHAN JONES</h3>
                                <div class="designation">Senior Guard</div>
                                <!--Social Icon-->
                                <!--<div class="social-icon">
                                    <a href="#" class="fa fa-facebook"></a>
                                    <a href="#" class="fa fa-twitter"></a>
                                    <a href="#" class="fa fa-linkedin"></a>
                                </div>
                                <div class="left-arrow"></div>
                                 <div class="right-arrow"></div>
                            </div>
                           
                        </div>
                    </div>
                </div>
                
                <!--Guard Member-->
            	<!--<div class="guard-member col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<!--Image Box-->
                    	<!--<div class="image-box">
                        	<img src="images/resource/guard-2.jpg" alt="" />
                        </div>
                        <!--Lower Content-->
                        <!--<div class="lower-content">
                        	
                        	<!--Content-->
                        	<!--<div class="content">
                                <h3>NATHAN JONES</h3>
                                <div class="designation">Senior Guard</div>
                                <!--Social Icon-->
                                <!--<div class="social-icon">
                                    <a href="#" class="fa fa-facebook"></a>
                                    <a href="#" class="fa fa-twitter"></a>
                                    <a href="#" class="fa fa-linkedin"></a>
                                </div>
                                <div class="left-arrow"></div>
                                 <div class="right-arrow"></div>
                            </div>
                           
                        </div>
                    </div>
                </div>
                
                <!--Guard Member-->
            	<!--<div class="guard-member col-md-4 col-sm-6 col-xs-12">
                	<div class="inner-box">
                    	<!--Image Box-->
                    	<!--<div class="image-box">
                        	<img src="images/resource/guard-3.jpg" alt="" />
                        </div>
                        <!--Lower Content-->
                        <!--<div class="lower-content">
                        	
                        	<!--Content-->
                        	<!--<div class="content">
                                <h3>NATHAN JONES</h3>
                                <div class="designation">Senior Guard</div>
                                <!--Social Icon-->
                                <!--<div class="social-icon">
                                    <a href="#" class="fa fa-facebook"></a>
                                    <a href="#" class="fa fa-twitter"></a>
                                    <a href="#" class="fa fa-linkedin"></a>
                                </div>
                                <div class="left-arrow"></div>
                                 <div class="right-arrow"></div>
                            </div>
                           
                        </div>
                    </div>
                </div>
                
            </div>
            
        </div>
    </section>
    <!--End Guards Section-->
    
    <!--Testimonial Section-->
   <!--- <section class="testimonial-section">
    	<div class="auto-container">
        	<h2>OUR CLIENTS SAYS</h2>
            
            <!--Three Item Carousel-->
            <!--<div class="three-item-carousel">
                <!--Testimonial Block One-->
               <!----<div class="testimonial-block-one">
                    <div class="inner-box">
                        <div class="quote-icon"><span class="icon flaticon-left-quote"></span></div>
                        <div class="text">The Love Boat promises something for everyone now to beat every of just one and his Skipper too will do their in their tropic island nest.</div>
                        <!--Author Info-->
                        <!---<div class="author-info">
                            <div class="author-image">
                                <img src="images/resource/author-1.jpg" alt="" />
                            </div>
                            <h3>ANGEL JONES</h3>
                            <div class="designation">Execfise</div>
                            <!--Rating-->
                            <!--<div class="rating">
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star-half-empty"></span>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--Testimonial Block One-->
                <!--<div class="testimonial-block-one">
                    <div class="inner-box">
                        <div class="quote-icon"><span class="icon flaticon-left-quote"></span></div>
                        <div class="text">The Love Boat promises something for everyone now to beat every of just one and his Skipper too will do their in their tropic island nest.</div>
                        <!--Author Info-->
                       <!--- <div class="author-info">
                            <div class="author-image">
                                <img src="images/resource/author-2.jpg" alt="" />
                            </div>
                            <h3>MATT MORGAN</h3>
                            <div class="designation">Forge</div>
                            <!--Rating-->
                            <!--<div class="rating">
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star-half-empty"></span>
                            </div>
                        </div>
                    </div>
                </div>
                
                <!--Testimonial Block One-->
                <!--<div class="testimonial-block-one">
                    <div class="inner-box">
                        <div class="quote-icon"><span class="icon flaticon-left-quote"></span></div>
                        <div class="text">The Love Boat promises something for everyone now to beat every of just one and his Skipper too will do their in their tropic island nest.</div>
                        <!--Author Info-->
                        <!--<div class="author-info">
                            <div class="author-image">
                                <img src="images/resource/author-3.jpg" alt="" />
                            </div>
                            <h3>PAUL VINCENT</h3>
                            <div class="designation">Massi</div>
                            <!--Rating-->
                            <!--<div class="rating">
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star"></span>
                                <span class="fa fa-star-half-empty"></span>
                            </div>
                        </div>
                    </div>
                </div>
                
            </div>
            
        </div>
        
    </section>
    <!--End Testimonial Section-->
   
    
   
    
    <!--sponsors style One-->
    <!--<section class="sponsors-style-one">
    	<div class="auto-container">
        	<div class="sponsors-outer">
                <!--Sponsors Carousel-->
                <!--<ul class="sponsors-carousel">
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/1.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/2.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/3.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/4.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/5.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/1.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/2.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/3.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/4.png" alt=""></a></figure></li>
                    <li class="slide-item"><figure class="image-box"><a href="#"><img src="images/clients/5.png" alt=""></a></figure></li>
                </ul>
            </div>
        </div>
    </section>
    <!--sponsors style One-->
    
	<!--Main Footer-->
    <!--<footer class="main-footer">

        <div class="auto-container">
			<div class="row clearfix">
            
            	<!--Big Column-->
				<!--<div class="big-column col-md-5 col-sm-12 col-xs-12">
                	<div class="row clearfix">
                    	
                        <!--Footer Column / About Widget-->
                        <!--<div class="footer-column col-md-7 col-sm-6 col-xs-12">
                            <div class="footer-widget about-widget">
                                <h2>ABOUT US</h2>
                                <div class="widget-content">
                                	<figure class="image-box"><img src="images/resource/footer-img.jpg" alt="" /></figure>
                                    <div class="text">The Love Boat promises something for every the beat of  very best to a make the others comfortable.</div>
                                </div>
                            </div>
                        </div>
                        
                        <!--Footer Column / Links Widget-->
                        <!--<div class="footer-column col-md-5 col-sm-6 col-xs-12">
                            <div class="footer-widget links-widget">
                                <h2>QUICK LINKS</h2>
                                <div class="widget-content">
                                    <ul class="list">
                                        <li><a href="#">About us</a></li>
                                        <li><a href="#">Services</a></li>
                                        <li><a href="#">Advantages</a></li>
                                        <li><a href="#">Testimonials</a></li>
                                        <li><a href="#">Inquiries</a></li>
                                        <li><a href="#">Support</a></li>
                                        <li><a href="#">Contact us</a></li>
                                    </ul>
                                </div>
                            </div>
                		</div>
                        
                    </div>
                </div>
                
                <!--Big Column-->
				<!--<div class="big-column col-md-7 col-sm-12 col-xs-12">
                	<div class="row clearfix">
                    
                    	<!--Footer Column / Twitter Widget-->
                        <!--<div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            <div class="footer-widget twitter-widget">
                                <h2>LATEST TWEETS</h2>
                                <div class="widget-content">
                                	<!--feed-->
                                   <!--- <div class="feed">
                                    	<div class="icon-box"><span class="icon fa fa-twitter"></span></div>
                                        <div class="text">The Love Boat promises every the beat</div>
                                        <span class="month"><a href="#">http://fontawesome.io/cheats</a></span>
                                    </div>
                                    <!--feed-->
                                    <!--<div class="feed">
                                    	<div class="icon-box"><span class="icon fa fa-twitter"></span></div>
                                        <div class="text">The Love Boat promises every the beat</div>
                                        <span class="month"><a href="#">http://fontawesome.io/cheats</a></span>
                                    </div>
                                    <!--feed-->
                                    <!--<div class="feed">
                                    	<div class="icon-box"><span class="icon fa fa-twitter"></span></div>
                                        <div class="text">The Love Boat promises every the beat</div>
                                        <span class="month"><a href="#">http://fontawesome.io/cheats</a></span>
                                    </div>
                                </div>
                            </div>
                		</div>
                        
                        <!--Footer Column / Contact Widget-->
                        <!--<div class="footer-column col-md-6 col-sm-6 col-xs-12">
                            <div class="footer-widget contact-widget">
                                <h2>CONTACT US</h2>
                                <div class="widget-content">
                                	<form method="post" action="contact.html">
                                    
                                    	<!--Form Group-->
                                        <!--<div class="form-group">
                                            <div class="group-inner">
                                                <input type="text" name="username" placeholder="Name" required="">
                                            </div>
                                            <div class="group-inner">
                                                <input type="email" name="email" placeholder="Email" required="">
                                            </div>
                                            <div class="group-inner">
                                                <button type="submit" class="theme-btn btn-style-one">SEND MESSAGE</button>
                                            </div>
                                        </div>
                                        
                                    </form>
                                    
                                    <!--Social Icon One-->
                                    <!--<ul class="social-icon-one">
                                    	<li><a class="fa fa-facebook" href="#"></a></li>
                                        <li><a class="fa fa-twitter" href="#"></a></li>
                                        <li><a class="fa fa-linkedin" href="#"></a></li>
                                        <li><a class="fa fa-instagram" href="#"></a></li>
                                        <li><a class="fa fa-vimeo" href="#"></a></li>
                                    </ul>
                                    
                                </div>
                            </div>
                		</div>
                        
                    </div>
                </div>
                
			</div>

		 </div>
        
         <!--Footer Bottom-->
         <div class="footer-bottom">
         	<div class="auto-container">
            	<div class="row clearfix">
                
                	<!--column-->
                	<div class="column col-md-6 col-sm-6 col-xs-12">
                    	<!--<div class="copyright">&copy; 2017 Bristol Security. All Rights Reserved.</<div>-->
                    </div>
                    <!--column-->
                    <div class="column col-md-6 col-sm-6 col-xs-12">
                    	<ul>
                        	<li><a href="https://www.service-public.fr/professionnels-entreprises/vosdroits/F31228 ">Mentions Légales</a></li>
                            <!--<li><a href="#">Terms & Condition</a></li>
                        </ul>
                    </div>
                    
                </div>
            </div>
            
         </div>
        
	</footer>
	<!--End Main Footer-->
    
</div>
<!--End pagewrapper-->

<!--Scroll to top-->
<div class="scroll-to-top scroll-to-target" data-target=".main-header"><span class="fa fa-long-arrow-up"></span></div>

<script src="js/jquery.js"></script>
<script src="js/bootstrap.min.js"></script>
<script src="js/revolution.min.js"></script>
<script src="js/jquery.fancybox.pack.js"></script>
<script src="js/jquery.fancybox-media.js"></script>
<script src="js/owl.js"></script>
<script src="js/wow.js"></script>
<script src="js/script.js"></script>
</body>
</html>
